bioprocess.schema.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BioReactorSample">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="BioReactorVesselID"/>
        <xs:element type="xs:string" name="CollectionTimestamp"/>
        <xs:element type="xs:string" name="CQAName"/>
        <xs:element type="xs:decimal" name="CQAValue"/>
        <xs:element type="xs:string" name="CQAUnits"/>
        <xs:element type="xs:boolean" name="CQAQCCheck"/>
        <xs:element type="xs:string" name="CQASampleID"/>
        <xs:element type="xs:string" name="CQAAnalyticalMethod"/>
        <xs:element type="xs:string" name="CQASamplePreparationMethod"/>
        <xs:element name="AnalysisSystem">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:string" name="ID"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>